html {
    overflow-x : hidden;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color : #f1f1f1;
}
/* landing page styles */
#backgroundimg{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url('../images/events.jpg');
    background-size: cover;
    height : 100vh;
    background-attachment: fixed;
    background-position: center;
    position : relative;
    z-index : 99;
}
.formBackground{
   	background:linear-gradient(rgba(107, 107, 71,0.9),rgba(107, 107, 71,0.8));
	margin-top: 5%;
	border: 1px solid white;
	padding: 1%;
	margin-top: 20vh;
    color: #f2f2f2;
}
.auth{
    color : #99ffff;
}
.auth:hover{
    color : #ffffb3;
}
.text-box{
    position: relative;
    margin-top: 17%;
    color: white;
}
.btn-search{
    background: #424242;
}
.btn-search:active, .btn-search:hover{
    background: #424242;
    color: #fff;
}
.backgrnd{
    background: linear-gradient(rgba(107, 107, 71,0.6),rgba(107, 107, 71,0.6)); 
    margin-top: 20vh;
    border:1px solid white;
    padding : 1%;
    color: white;
}
.custom-modal-wrapper{
  position: absolute;
  bottom:0;
  left:0;
  right:0;
  top: 0;
  height: 100%;
  background: rgba(0,0,0,0.3);
  display: flex;
  position : absolute;
  justify-content: center;
  padding: 20px;
}
.custom-modal {
  width: 200px;
  background: #fff;
  border-radius: 5px;
  width: 60%;
  text-align : center;
  position: fixed;
  padding: 2% 0;

}
.close {
  position: absolute;
  top: 10px;
  right: 0px;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  font-size: 2em;
  cursor: pointer;
}
